@layer theme, base, mui, components, utilities;
@import "tailwindcss";

/** Kung naa ni, mugana og tarong ang Mui + tailwind (prefers-scheme-color) nga kanang makita nimo sa :root {...} */
/** https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually */
@custom-variant dark (&:where([data-dark], [data-dark] *));

:root {
  --background: var(--color-zinc-100);
  --foreground: var(--color-zinc-900);

  @variant dark {
    --background: var(--color-slate-950);
    --foreground: var(--color-slate-100);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Material UI theme colors */
  --color-primary: rgb(var(--mui-palette-primary-mainChannel));
  --color-primary-light: rgb(var(--mui-palette-primary-lightChannel));
  --color-primary-dark: rgb(var(--mui-palette-primary-darkChannel));
  --color-primary-contrast: rgb(var(--mui-palette-primary-contrastTextChannel));

  --color-secondary: rgb(var(--mui-palette-secondary-mainChannel));
  --color-secondary-light: rgb(var(--mui-palette-secondary-lightChannel));
  --color-secondary-dark: rgb(var(--mui-palette-secondary-darkChannel));
  --color-secondary-contrast: rgb(
    var(--mui-palette-secondary-contrastTextChannel)
  );

  /* Material UI status colors */
  --color-info: rgb(var(--mui-palette-info-mainChannel));
  --color-info-light: rgb(var(--mui-palette-info-lightChannel));
  --color-info-dark: rgb(var(--mui-palette-info-darkChannel));
  --color-info-contrast: rgb(var(--mui-palette-info-contrastTextChannel));

  --color-error: rgb(var(--mui-palette-error-mainChannel));
  --color-error-light: rgb(var(--mui-palette-error-lightChannel));
  --color-error-dark: rgb(var(--mui-palette-error-darkChannel));
  --color-error-contrast: rgb(var(--mui-palette-error-contrastTextChannel));

  --color-success: rgb(var(--mui-palette-success-mainChannel));
  --color-success-light: rgb(var(--mui-palette-success-lightChannel));
  --color-success-dark: rgb(var(--mui-palette-success-darkChannel));
  --color-success-contrast: rgb(var(--mui-palette-success-contrastTextChannel));

  --color-warning: rgb(var(--mui-palette-warning-mainChannel));
  --color-warning-light: rgb(var(--mui-palette-warning-lightChannel));
  --color-warning-dark: rgb(var(--mui-palette-warning-darkChannel));
  --color-warning-contrast: rgb(var(--mui-palette-warning-contrastTextChannel));

  /* Material UI text & common colors */
  --color-text-primary: rgb(var(--mui-palette-text-primaryChannel));
  --color-text-secondary: rgb(var(--mui-palette-text-secondaryChannel));
  --color-text-disabled: var(--mui-palette-text-disabled);
  --color-common-background: var(--mui-palette-common-background);
  --color-common-onBackground: var(--mui-palette-common-onBackground);
  --color-divider: var(--mui-palette-divider);

  /* Material UI background colors */
  --color-background-default: var(--mui-palette-background-default);
  --color-background-paper: var(--mui-palette-background-paper);

  /* Material UI action colors */
  --color-action-active: var(--mui-palette-action-active);
  --color-action-hover: var(--mui-palette-action-hover);
  --color-action-selected: var(--mui-palette-action-selected);
  --color-action-disabled: var(--mui-palette-action-disabled);
  --color-action-focus: var(--mui-palette-action-focus);

  /* Skeleton */
  --color-Skeleton-bg: var(--mui-palette-Skeleton-bg);

  /* Material UI typography */
  --font-h1: var(--mui-font-h1);
  --font-h2: var(--mui-font-h2);
  --font-h3: var(--mui-font-h3);
  --font-h4: var(--mui-font-h4);
  --font-h5: var(--mui-font-h5);
  --font-h6: var(--mui-font-h6);
  --font-subtitle1: var(--mui-font-subtitle1);
  --font-subtitle2: var(--mui-font-subtitle2);
  --font-body1: var(--mui-font-body1);
  --font-body2: var(--mui-font-body2);
  --font-button: var(--mui-font-button);
  --font-caption: var(--mui-font-caption);
  --font-overline: var(--mui-font-overline);
  --font-roboto: var(--font-roboto);

  /* Z Index */
  --z-index-mobileStepper: var(--mui-zIndex-mobileStepper);
  --z-index-fab: var(--mui-zIndex-fab);
  --z-index-speedDial: var(--mui-zIndex-speedDial);
  --z-index-appBar: var(--mui-zIndex-appBar);
  --z-index-drawer: var(--mui-zIndex-drawer);
  --z-index-modal: var(--mui-zIndex-modal);
  --z-index-snackbar: var(--mui-zIndex-snackbar);
  --z-index-tooltip: var(--mui-zIndex-tooltip);

  /* Material UI breakpoints */
  --breakpoint-*: initial;
  --breakpoint-3xs: 16rem; /* 256px */
  --breakpoint-2xs: 18rem; /* 288px */
  --breakpoint-xs: 20rem; /* 320px */
  --breakpoint-sm: 24rem; /* 384px */
  --breakpoint-md: 28rem; /* 448px */
  --breakpoint-lg: 32rem; /* 512px */
  --breakpoint-xl: 36rem; /* 576px */
  --breakpoint-2xl: 42rem; /* 672px */
  --breakpoint-3xl: 48rem; /* 768px */
  --breakpoint-4xl: 56rem; /* 896px */
  --breakpoint-5xl: 64rem; /* 1024px */
  --breakpoint-6xl: 72rem; /* 1152px */
  --breakpoint-7xl: 80rem; /* 1280px */
  --breakpoint-8xl: 90rem; /* 1440px */
}

@layer base {
  body {
    @apply grid min-w-xs font-roboto;
    grid-template: "page" minmax(0, 1fr) / minmax(0, 1fr);

    & > .page {
      grid-area: page;
    }
  }

  :where(html, body) {
    @apply max-h-max min-h-dvh;
  }

  h1 {
    font: var(--mui-font-h1);
    letter-spacing: -0.01562em;
  }
  h2 {
    font: var(--mui-font-h2);
    letter-spacing: -0.00833em;
  }
  h3 {
    font: var(--mui-font-h3);
  }
  h4 {
    font: var(--mui-font-h4);
    letter-spacing: 0.00735em;
  }
  h5 {
    font: var(--mui-font-h5);
  }
  h6 {
    font: var(--mui-font-h6);
    letter-spacing: 0.0075em;
  }
  p {
    font: var(--mui-font-body1);
    letter-spacing: 0.00938em;
  }
  span {
    font: var(--mui-font-body2);
    letter-spacing: 0.01071em;
  }

  :where(*) {
    @apply border-divider;
  }
}

/* Material UI typography utilities */
@utility typography-* {
  font: --value(--font-*);
}

@utility flicker {
  animation: flicker 0.35s infinite;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.94;
  }
  100% {
    opacity: 1;
  }
}

@layer components {
  .page {
    @apply grid h-full;
    grid-template: "h" min-content "m" 1fr / minmax(0, 1fr);

    & > header {
      grid-area: h;
    }
    & > main {
      grid-area: m;
    }

    @supports (height: stretch) {
      & {
        height: stretch;
      }
    }
  }

  @supports (corner-shape: bevel superellipse(infinity)) {
    .bevel-tl-br {
      corner-shape: bevel superellipse(infinity);
    }
  }

  @supports (corner-shape: superellipse(infinity)) {
    .bevel-none {
      corner-shape: superellipse(infinity);
    }
  }

  .scanlines {
    @apply relative;

    &::before {
      @apply pointer-events-none absolute inset-0 z-50 size-full content-[''];
      background: repeating-linear-gradient(
        to bottom,
        /* rgba(0, 255, 0, 0.05) 0px, rgba(0, 255, 0, 0.05) 1px, */
          color-mix(in oklch, var(--color-slate-100) 7%, transparent),
        color-mix(in oklch, var(--color-slate-100) 7%, transparent) 1px,
        transparent 1px,
        transparent 2px
      );
    }
  }

  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) var(--color-secondary);
  }

  .scrollbar-hidden {
    scrollbar-width: none;
    scrollbar-color: transparent;
  }

  /* ============================ grid layout ========================== */
  .star-layout {
    display: grid;
    column-gap: 1rem;
    row-gap: 0.5rem;
    grid-template:
      "profile" auto
      "name" auto
      "lifetime" auto
      "cast" auto
      "bio" auto
      "credit" minmax(0, 1fr) / minmax(0, 1fr);

    @media (width >= 42rem) {
      grid-template:
        "name name" min-content
        "lifetime lifetime" min-content
        "profile cast" min-content
        "bio bio" auto
        "credit credit" min-content / 16.625rem minmax(0, 1fr); /* 17.125rem */
    }

    @media (width >= 48rem) {
      grid-template:
        "name name" min-content
        "lifetime lifetime" min-content
        "profile cast" min-content
        "profile bio" min-content
        ". bio" auto
        "credit credit" min-content / 16.625rem minmax(0, 1fr);
    }

    @media (width >= 56rem) {
      grid-template:
        "name name" auto
        "lifetime lifetime" auto
        "profile cast" auto
        "bio bio" auto
        "credit credit" min-content / 16.625rem minmax(0, 1fr);
    }

    @media (width >= 64rem) {
      grid-template:
        "name name" auto
        "lifetime lifetime" auto
        "profile cast" auto
        "profile bio" minmax(0, 1fr)
        ". bio" auto
        "credit credit" min-content / 16.625rem minmax(0, 1fr);
    }
  }

  .grid-flexible {
    /* --grid-max-col-count: attr(max-col-count type(<number>), 4); */
    /* --grid-min-col-size: 200px; */
    --grid-gap: 0.25rem;

    /* calculations, do not touch */
    --grid-col-size-calc: calc(
      (100% - var(--grid-gap) * var(--grid-max-col-count)) /
        var(--grid-max-col-count)
    );
    --grid-col-min-size-calc: min(
      100%,
      max(var(--grid-min-col-size), var(--grid-col-size-calc))
    );

    display: grid;
    gap: var(--grid-gap);

    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--grid-col-min-size-calc), 1fr)
    );
  }

  .title-layout {
    display: grid;
    grid-template:
      "title title video" auto
      "genres genres video" auto
      "poster info info" auto
      "poster score rate" auto
      "poster watchlist watchlist" minmax(0, 1fr)
      "tagline tagline tagline" auto
      "summary summary summary" auto
      "directors directors directors" auto
      ". . ." min-content / min-content auto minmax(min-content, 1fr);
    align-items: flex-start;
    row-gap: 1rem;

    @media (width >= 36rem) {
      column-gap: 1rem;
      grid-template:
        "title title video" auto
        "genres genres video" auto
        "poster info info" auto
        "poster ratings ratings" auto
        "poster cta cta"
        "poster . ." minmax(0, 1fr)
        "tagline tagline tagline" auto
        "summary  summary summary" auto
        "directors directors directors" auto
        ". . ." min-content / auto auto minmax(0, 1fr);
    }

    @media (width >= 42rem) {
      grid-template:
        "poster title video" auto
        "poster info info" auto
        "poster ratings ratings" auto
        "poster cta cta" auto
        "poster . ." minmax(0, 1fr)
        "tagline tagline tagline" auto
        "summary  summary summary" auto
        "directors directors directors" auto
        ". . ." min-content / auto auto minmax(0, 1fr);
    }

    @media (width >= 64rem) {
      row-gap: 0.5rem;
      grid-template:
        "poster title title" auto
        "poster info info" auto
        "poster ratings cta" auto
        "poster tagline tagline" auto
        "poster  summary summary" auto
        "poster directors directors" auto
        ". . ." min-content / auto auto minmax(0, 1fr);
    }
  }

  .title-detail-layout {
    @apply grid auto-rows-min gap-y-2 4xl:gap-y-4;
    grid-template:
      "mdia" min-content
      "meta" min-content
      "rest" min-content / minmax(0, 1fr);

    @media (min-width: 56rem) {
      grid-template:
        "mdia meta" min-content
        "rest meta" min-content;
      grid-template-columns: minmax(0, 1fr) 12rem;
    }

    @media (min-width: 64rem) {
      grid-template-columns: minmax(0, 1fr) 16rem;
    }

    & .rest {
      @apply @container space-y-8 px-2 4xl:px-4;
      grid-area: rest;
    }

    & .mdia {
      @apply @container space-y-8 px-2 4xl:px-4;
      grid-area: mdia;
    }

    & .meta {
      @apply px-2 4xl:pr-4 4xl:pl-4 5xl:pl-0;
      grid-area: meta;
    }
  }

  .title-details-layout {
    @apply grid items-start gap-4;
    grid-template:
      "ttl ttl" min-content
      "pos nfo" min-content
      "pos tag" min-content
      "pos scr" 1fr
      "btn btn" auto / max-content minmax(0, 1fr);

    @media (min-width: 36rem) {
      grid-template:
        "ttl ttl" min-content
        "pos nfo" min-content
        "pos tag" min-content
        "pos scr" min-content
        "pos btn" 1fr / max-content minmax(0, 1fr);
    }
  }

  /* =========================== Parallax Animation ====================== */
  @supports (animation-timeline: scroll()) {
    .scroll-animation {
      animation-duration: 1ms; /* Firefox requires this to apply the animation */
      animation-direction: alternate;
      animation-timeline: scroll(block root);
    }

    .scroll-home-parallax {
      animation-name: home-parallax;
    }

    @keyframes home-parallax {
      from {
        transform: translate(0, 0);
      }
      to {
        transform: translate(0, 165%);
      }
    }

    .scroll-media-parallax {
      animation-name: media-parallax;
    }

    @keyframes media-parallax {
      from {
        transform: translate(0, 0);
      }
      to {
        transform: translate(0, 35%);
      }
    }
  }
}
